.shop-tab {
  margin: 30px 50px 0;
  position: relative;
  .select {
    margin-bottom: 20px;
    float: right;
    width: 230px;
  }
  .select:first-child{
     margin-right:400px;
   }
  .serach {
    position: absolute;
    width: 400px;
    top: -15px;
    right: 0;
  }
}
